<p>Welcome to our platform, <%= @user.name %>!</p>
<p>Use the following 6-digit code to verify your email address:</p>
<p><strong><%= @user.confirmation_code %></strong></p>
<p>This code expires in 10 minutes.</p>
